<div class="content-system">
  <div class="content-head">
    <h4>Clientes</h4>
    <div class="example-button-container">
      <button mat-fab color="primary" aria-label="person_add" (click)="createUser()">
        <mat-icon>person_add</mat-icon>
      </button>
    </div>
  </div>
  

  <div class="content-table">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
      <!-- id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> id. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
    
      <!-- nombre Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>

      <!-- editar Column -->
      <ng-container matColumnDef="opciones">
        <th mat-header-cell *matHeaderCellDef> opciones </th>
        <td mat-cell *matCellDef="let element" (click)="editUser(element)">
          <mat-icon aria-hidden="false" aria-label="edit">edit</mat-icon>
        </td>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
</div>
