/* ==========================================================================
 MOBILE FIRST & FLEXBOX GRID SYSTEM
 ========================================================================== */
/* 
 * GENERAL CSS
 *		xs  -  extra small devices < 480px (30em)
 *				-  range: 0 - 320px - 479px
 *
 * MEDIA QUERIES - min-width
 *		sm  -  small devices >= 480px (30em)
 *				-  range: 480px - 767px
 *		md  -  medium devices >= 768px (48em)
 *				-  range: 768px - 1023px
 *		lg  -  large devices >= 1024px (64em)
 *				-  range: 1024px - 1199px
 *		xl  -  extralarge devices >= 1200px (75em)
 *				-  range: +1200px
 *
 * CONTAINERS
 * 		container-fluid (width:	100%)
 * 		container (max-width: 1200px)
 *
 * GRID SYSTEM BASED IN PERCENTAGES
 *		xs-w0 to xs-w100
 *		sm-w0 to sm-w100
 *		md-w0 to md-w100
 *		lg-w0 to lg-w100
 *		xl-w0 to xl-w100
 *
 * FLEXBOX LAYOUT MODEL
 * 		FLEX CONTAINER'S PROPERTIES MAPPING
 *				display: flex  | inline-flex ;
 *				flex-direction: row | row-reverse | column | column-reverse ;
 *				flex-wrap: nowrap | wrap | wrap-reverse ;
 *				justify-content: flex-start | flex-end | center | space-between | space-around ;
 *				align-items: stretch | flex-start | flex-end | center | baseline ;
 *				align-content: stretch | flex-start | flex-end | center | space-between | space-around ;
 *
 * 		FLEX CHILDREN'S PROPERTIES MAPPING
 *				align-self: auto | stretch | flex-start | flex-end | center | baseline ;
 *				flex-grow: 0 | 1 | 2 | 3 | 4 | 5 ;
 *				flex-shrink: 0 | 1 | 2 | 3 | 4 | 5 ;
 *				flex-basis: 0% to 100% ;
 *				flex: none | auto ;
 *				order: -5 | -4 | -3 | -2 | -1 | 0 | 1 | 2 | 3 | 4 | 5 ;
 */
/* ==========================================================================
 CONTAINERS
 ========================================================================== */
.container, .container-fluid {
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.container { max-width: 1200px; }
/* ==========================================================================
 xs - extra small devices < 480px (30em)
 ========================================================================== */

/* ==========================================================================
 GRID SYSTEM BASED IN PERCENTAGES
 ========================================================================== */
.xs-w100 { width: 100%; }
.xs-w99 { width: 99%; }
.xs-w98 { width: 98%; }
.xs-w97 { width: 97%; }
.xs-w96 { width: 96%; }
.xs-w95 { width: 95%; }
.xs-w94 { width: 94%; }
.xs-w93 { width: 93%; }
.xs-w92 { width: 92%; }
.xs-w91 { width: 91%; }
.xs-w90 { width: 90%; }
.xs-w89 { width: 89%; }
.xs-w88 { width: 88%; }
.xs-w87 { width: 87%; }
.xs-w86 { width: 86%; }
.xs-w85 { width: 85%; }
.xs-w84 { width: 84%; }
.xs-w83 { width: 83%; }
.xs-w82 { width: 82%; }
.xs-w81 { width: 81%; }
.xs-w80 { width: 80%; }
.xs-w79 { width: 79%; }
.xs-w78 { width: 78%; }
.xs-w77 { width: 77%; }
.xs-w76 { width: 76%; }
.xs-w75 { width: 75%; }
.xs-w74 { width: 74%; }
.xs-w73 { width: 73%; }
.xs-w72 { width: 72%; }
.xs-w71 { width: 71%; }
.xs-w70 { width: 70%; }
.xs-w69 { width: 69%; }
.xs-w68 { width: 68%; }
.xs-w67 { width: 67%; }
.xs-w66 { width: 66%; }
.xs-w65 { width: 65%; }
.xs-w64 { width: 64%; }
.xs-w63 { width: 63%; }
.xs-w62 { width: 62%; }
.xs-w61 { width: 61%; }
.xs-w60 { width: 60%; }
.xs-w59 { width: 59%; }
.xs-w58 { width: 58%; }
.xs-w57 { width: 57%; }
.xs-w56 { width: 56%; }
.xs-w55 { width: 55%; }
.xs-w54 { width: 54%; }
.xs-w53 { width: 53%; }
.xs-w52 { width: 52%; }
.xs-w51 { width: 51%; }
.xs-w50 { width: 50%; }
.xs-w49 { width: 49%; }
.xs-w48 { width: 48%; }
.xs-w47 { width: 47%; }
.xs-w46 { width: 46%; }
.xs-w45 { width: 45%; }
.xs-w44 { width: 44%; }
.xs-w43 { width: 43%; }
.xs-w42 { width: 42%; }
.xs-w41 { width: 41%; }
.xs-w40 { width: 40%; }
.xs-w39 { width: 39%; }
.xs-w38 { width: 38%; }
.xs-w37 { width: 37%; }
.xs-w36 { width: 36%; }
.xs-w35 { width: 35%; }
.xs-w34 { width: 34%; }
.xs-w33 { width: 33%; }
.xs-w32 { width: 32%; }
.xs-w31 { width: 31%; }
.xs-w30 { width: 30%; }
.xs-w29 { width: 29%; }
.xs-w28 { width: 28%; }
.xs-w27 { width: 27%; }
.xs-w26 { width: 26%; }
.xs-w25 { width: 25%; }
.xs-w24 { width: 24%; }
.xs-w23 { width: 23%; }
.xs-w22 { width: 22%; }
.xs-w21 { width: 21%; }
.xs-w20 { width: 20%; }
.xs-w19 { width: 19%; }
.xs-w18 { width: 18%; }
.xs-w17 { width: 17%; }
.xs-w16 { width: 16%; }
.xs-w15 { width: 15%; }
.xs-w14 { width: 14%; }
.xs-w13 { width: 13%; }
.xs-w12 { width: 12%; }
.xs-w11 { width: 11%; }
.xs-w10 { width: 10%; }
.xs-w9 { width: 9%; }
.xs-w8 { width: 8%; }
.xs-w7 { width: 7%; }
.xs-w6 { width: 6%; }
.xs-w5 { width: 5%; }
.xs-w4 { width: 4%; }
.xs-w3 { width: 3%; }
.xs-w2 { width: 2%; }
.xs-w1 { width: 1%; }
.xs-w0 { width: 0%; }
/* ==========================================================================
 FLEXBOX LAYOUT MODEL
 	FLEX CONTAINER'S PROPERTIES MAPPING
 ========================================================================== */
.xs-flex { display: flex; }
.xs-inline-flex { display: inline-flex; }

.xs-flex-row { flex-direction: row; }
.xs-flex-row-reverse { flex-direction: row-reverse; }
.xs-flex-column { flex-direction: column; }
.xs-flex-column-reverse { flex-direction: column-reverse; }

.xs-flex-nowrap { flex-wrap: nowrap; }
.xs-flex-wrap { flex-wrap: wrap; }
.xs-flex-wrap-reverse { flex-wrap: wrap-reverse; }

.xs-jc-flex-start { justify-content: flex-start; }
.xs-jc-flex-end { justify-content: flex-end; }
.xs-jc-center { justify-content: center; }
.xs-jc-space-between { justify-content: space-between; }
.xs-jc-space-around { justify-content: space-around; }

.xs-ai-stretch { align-items: stretch; }
.xs-ai-flex-start { align-items: flex-start; }
.xs-ai-flex-end { align-items: flex-end; }
.xs-ai-center { align-items: center; }
.xs-ai-baseline { align-items: baseline; }

.xs-ac-stretch { align-content: stretch; }
.xs-ac-flex-start { align-content: flex-start; }
.xs-ac-flex-end { align-content: flex-end; }
.xs-ac-center { align-content: center; }
.xs-ac-space-between { align-content: space-between; }
.xs-ac-space-around { align-content: space-around; }
/* ==========================================================================
 FLEXBOX LAYOUT MODEL
 	CHILDREN'S PROPERTIES MAPPING
 ========================================================================== */
.xs-as-auto { align-self: auto; }
.xs-as-stretch { align-self: stretch; }
.xs-as-flex-start { align-self: flex-start; }
.xs-as-flex-end { align-self: flex-end; }
.xs-as-center { align-self: center; }
.xs-as-baseline { align-self: baseline; }

.xs-flex-grow-0 { flex-grow: 0; }
.xs-flex-grow-1 { flex-grow: 1; }
.xs-flex-grow-2 { flex-grow: 2; }
.xs-flex-grow-3 { flex-grow: 3; }
.xs-flex-grow-4 { flex-grow: 4; }
.xs-flex-grow-5 { flex-grow: 5; }

.xs-flex-shrink-0 { flex-shrink: 0; }
.xs-flex-shrink-1 { flex-shrink: 1; }
.xs-flex-shrink-2 { flex-shrink: 2; }
.xs-flex-shrink-3 { flex-shrink: 3; }
.xs-flex-shrink-4 { flex-shrink: 4; }
.xs-flex-shrink-5 { flex-shrink: 5; }

.xs-flex-b100 { flex-basis: 100%; }
.xs-flex-b99 { flex-basis: 99%; }
.xs-flex-b98 { flex-basis: 98%; }
.xs-flex-b97 { flex-basis: 97%; }
.xs-flex-b96 { flex-basis: 96%; }
.xs-flex-b95 { flex-basis: 95%; }
.xs-flex-b94 { flex-basis: 94%; }
.xs-flex-b93 { flex-basis: 93%; }
.xs-flex-b92 { flex-basis: 92%; }
.xs-flex-b91 { flex-basis: 91%; }
.xs-flex-b90 { flex-basis: 90%; }
.xs-flex-b89 { flex-basis: 89%; }
.xs-flex-b88 { flex-basis: 88%; }
.xs-flex-b87 { flex-basis: 87%; }
.xs-flex-b86 { flex-basis: 86%; }
.xs-flex-b85 { flex-basis: 85%; }
.xs-flex-b84 { flex-basis: 84%; }
.xs-flex-b83 { flex-basis: 83%; }
.xs-flex-b82 { flex-basis: 82%; }
.xs-flex-b81 { flex-basis: 81%; }
.xs-flex-b80 { flex-basis: 80%; }
.xs-flex-b79 { flex-basis: 79%; }
.xs-flex-b78 { flex-basis: 78%; }
.xs-flex-b77 { flex-basis: 77%; }
.xs-flex-b76 { flex-basis: 76%; }
.xs-flex-b75 { flex-basis: 75%; }
.xs-flex-b74 { flex-basis: 74%; }
.xs-flex-b73 { flex-basis: 73%; }
.xs-flex-b72 { flex-basis: 72%; }
.xs-flex-b71 { flex-basis: 71%; }
.xs-flex-b70 { flex-basis: 70%; }
.xs-flex-b69 { flex-basis: 69%; }
.xs-flex-b68 { flex-basis: 68%; }
.xs-flex-b67 { flex-basis: 67%; }
.xs-flex-b66 { flex-basis: 66%; }
.xs-flex-b65 { flex-basis: 65%; }
.xs-flex-b64 { flex-basis: 64%; }
.xs-flex-b63 { flex-basis: 63%; }
.xs-flex-b62 { flex-basis: 62%; }
.xs-flex-b61 { flex-basis: 61%; }
.xs-flex-b60 { flex-basis: 60%; }
.xs-flex-b59 { flex-basis: 59%; }
.xs-flex-b58 { flex-basis: 58%; }
.xs-flex-b57 { flex-basis: 57%; }
.xs-flex-b56 { flex-basis: 56%; }
.xs-flex-b55 { flex-basis: 55%; }
.xs-flex-b54 { flex-basis: 54%; }
.xs-flex-b53 { flex-basis: 53%; }
.xs-flex-b52 { flex-basis: 52%; }
.xs-flex-b51 { flex-basis: 51%; }
.xs-flex-b50 { flex-basis: 50%; }
.xs-flex-b49 { flex-basis: 49%; }
.xs-flex-b48 { flex-basis: 48%; }
.xs-flex-b47 { flex-basis: 47%; }
.xs-flex-b46 { flex-basis: 46%; }
.xs-flex-b45 { flex-basis: 45%; }
.xs-flex-b44 { flex-basis: 44%; }
.xs-flex-b43 { flex-basis: 43%; }
.xs-flex-b42 { flex-basis: 42%; }
.xs-flex-b41 { flex-basis: 41%; }
.xs-flex-b40 { flex-basis: 40%; }
.xs-flex-b39 { flex-basis: 39%; }
.xs-flex-b38 { flex-basis: 38%; }
.xs-flex-b37 { flex-basis: 37%; }
.xs-flex-b36 { flex-basis: 36%; }
.xs-flex-b35 { flex-basis: 35%; }
.xs-flex-b34 { flex-basis: 34%; }
.xs-flex-b33 { flex-basis: 33%; }
.xs-flex-b32 { flex-basis: 32%; }
.xs-flex-b31 { flex-basis: 31%; }
.xs-flex-b30 { flex-basis: 30%; }
.xs-flex-b29 { flex-basis: 29%; }
.xs-flex-b28 { flex-basis: 28%; }
.xs-flex-b27 { flex-basis: 27%; }
.xs-flex-b26 { flex-basis: 26%; }
.xs-flex-b25 { flex-basis: 25%; }
.xs-flex-b24 { flex-basis: 24%; }
.xs-flex-b23 { flex-basis: 23%; }
.xs-flex-b22 { flex-basis: 22%; }
.xs-flex-b21 { flex-basis: 21%; }
.xs-flex-b20 { flex-basis: 20%; }
.xs-flex-b19 { flex-basis: 19%; }
.xs-flex-b18 { flex-basis: 18%; }
.xs-flex-b17 { flex-basis: 17%; }
.xs-flex-b16 { flex-basis: 16%; }
.xs-flex-b15 { flex-basis: 15%; }
.xs-flex-b14 { flex-basis: 14%; }
.xs-flex-b13 { flex-basis: 13%; }
.xs-flex-b12 { flex-basis: 12%; }
.xs-flex-b11 { flex-basis: 11%; }
.xs-flex-b10 { flex-basis: 10%; }
.xs-flex-b9 { flex-basis: 9%; }
.xs-flex-b8 { flex-basis: 8%; }
.xs-flex-b7 { flex-basis: 7%; }
.xs-flex-b6 { flex-basis: 6%; }
.xs-flex-b5 { flex-basis: 5%; }
.xs-flex-b4 { flex-basis: 4%; }
.xs-flex-b3 { flex-basis: 3%; }
.xs-flex-b2 { flex-basis: 2%; }
.xs-flex-b1 { flex-basis: 1%; }
.xs-flex-b0 { flex-basis: 0%; }

.xs-flex-none { flex: none; }
.xs-flex-auto { flex: auto; }

.xs-order--5 { order: -5; }
.xs-order--4 { order: -4; }
.xs-order--3 { order: -3; }
.xs-order--2 { order: -2; }
.xs-order--1 { order: -1; }
.xs-order-0 { order: 0; }
.xs-order-1 { order: 1; }
.xs-order-2 { order: 2; }
.xs-order-3 { order: 3; }
.xs-order-4 { order: 4; }
.xs-order-5 { order: 5; }
/* ==========================================================================
 sm - small devices >= 480px (30em)
 ========================================================================== */
@media screen and (min-width: 30em) {
	/* ==========================================================================
	 GRID SYSTEM BASED IN PERCENTAGES
	 ========================================================================== */
	.sm-w100 { width: 100%; }
	.sm-w99 { width: 99%; }
	.sm-w98 { width: 98%; }
	.sm-w97 { width: 97%; }
	.sm-w96 { width: 96%; }
	.sm-w95 { width: 95%; }
	.sm-w94 { width: 94%; }
	.sm-w93 { width: 93%; }
	.sm-w92 { width: 92%; }
	.sm-w91 { width: 91%; }
	.sm-w90 { width: 90%; }
	.sm-w89 { width: 89%; }
	.sm-w88 { width: 88%; }
	.sm-w87 { width: 87%; }
	.sm-w86 { width: 86%; }
	.sm-w85 { width: 85%; }
	.sm-w84 { width: 84%; }
	.sm-w83 { width: 83%; }
	.sm-w82 { width: 82%; }
	.sm-w81 { width: 81%; }
	.sm-w80 { width: 80%; }
	.sm-w79 { width: 79%; }
	.sm-w78 { width: 78%; }
	.sm-w77 { width: 77%; }
	.sm-w76 { width: 76%; }
	.sm-w75 { width: 75%; }
	.sm-w74 { width: 74%; }
	.sm-w73 { width: 73%; }
	.sm-w72 { width: 72%; }
	.sm-w71 { width: 71%; }
	.sm-w70 { width: 70%; }
	.sm-w69 { width: 69%; }
	.sm-w68 { width: 68%; }
	.sm-w67 { width: 67%; }
	.sm-w66 { width: 66%; }
	.sm-w65 { width: 65%; }
	.sm-w64 { width: 64%; }
	.sm-w63 { width: 63%; }
	.sm-w62 { width: 62%; }
	.sm-w61 { width: 61%; }
	.sm-w60 { width: 60%; }
	.sm-w59 { width: 59%; }
	.sm-w58 { width: 58%; }
	.sm-w57 { width: 57%; }
	.sm-w56 { width: 56%; }
	.sm-w55 { width: 55%; }
	.sm-w54 { width: 54%; }
	.sm-w53 { width: 53%; }
	.sm-w52 { width: 52%; }
	.sm-w51 { width: 51%; }
	.sm-w50 { width: 50%; }
	.sm-w49 { width: 49%; }
	.sm-w48 { width: 48%; }
	.sm-w47 { width: 47%; }
	.sm-w46 { width: 46%; }
	.sm-w45 { width: 45%; }
	.sm-w44 { width: 44%; }
	.sm-w43 { width: 43%; }
	.sm-w42 { width: 42%; }
	.sm-w41 { width: 41%; }
	.sm-w40 { width: 40%; }
	.sm-w39 { width: 39%; }
	.sm-w38 { width: 38%; }
	.sm-w37 { width: 37%; }
	.sm-w36 { width: 36%; }
	.sm-w35 { width: 35%; }
	.sm-w34 { width: 34%; }
	.sm-w33 { width: 33%; }
	.sm-w32 { width: 32%; }
	.sm-w31 { width: 31%; }
	.sm-w30 { width: 30%; }
	.sm-w29 { width: 29%; }
	.sm-w28 { width: 28%; }
	.sm-w27 { width: 27%; }
	.sm-w26 { width: 26%; }
	.sm-w25 { width: 25%; }
	.sm-w24 { width: 24%; }
	.sm-w23 { width: 23%; }
	.sm-w22 { width: 22%; }
	.sm-w21 { width: 21%; }
	.sm-w20 { width: 20%; }
	.sm-w19 { width: 19%; }
	.sm-w18 { width: 18%; }
	.sm-w17 { width: 17%; }
	.sm-w16 { width: 16%; }
	.sm-w15 { width: 15%; }
	.sm-w14 { width: 14%; }
	.sm-w13 { width: 13%; }
	.sm-w12 { width: 12%; }
	.sm-w11 { width: 11%; }
	.sm-w10 { width: 10%; }
	.sm-w9 { width: 9%; }
	.sm-w8 { width: 8%; }
	.sm-w7 { width: 7%; }
	.sm-w6 { width: 6%; }
	.sm-w5 { width: 5%; }
	.sm-w4 { width: 4%; }
	.sm-w3 { width: 3%; }
	.sm-w2 { width: 2%; }
	.sm-w1 { width: 1%; }
	.sm-w0 { width: 0%; }
	/* ==========================================================================
	 FLEXBOX LAYOUT MODEL
	 	FLEX CONTAINER'S PROPERTIES MAPPING
	========================================================================== */
	.sm-flex { display: flex; }
	.sm-inline-flex { display: inline-flex; }

	.sm-flex-row { flex-direction: row; }
	.sm-flex-row-reverse { flex-direction: row-reverse; }
	.sm-flex-column { flex-direction: column; }
	.sm-flex-column-reverse { flex-direction: column-reverse; }

	.sm-flex-nowrap { flex-wrap: nowrap; }
	.sm-flex-wrap { flex-wrap: wrap; }
	.sm-flex-wrap-reverse { flex-wrap: wrap-reverse; }

	.sm-jc-flex-start { justify-content: flex-start; }
	.sm-jc-flex-end { justify-content: flex-end; }
	.sm-jc-center { justify-content: center; }
	.sm-jc-space-between { justify-content: space-between; }
	.sm-jc-space-around { justify-content: space-around; }

	.sm-ai-stretch { align-items: stretch; }
	.sm-ai-flex-start { align-items: flex-start; }
	.sm-ai-flex-end { align-items: flex-end; }
	.sm-ai-center { align-items: center; }
	.sm-ai-baseline { align-items: baseline; }

	.sm-ac-stretch { align-content: stretch; }
	.sm-ac-flex-start { align-content: flex-start; }
	.sm-ac-flex-end { align-content: flex-end; }
	.sm-ac-center { align-content: center; }
	.sm-ac-space-between { align-content: space-between; }
	.sm-ac-space-around { align-content: space-around; }
	/* ==========================================================================
	 FLEXBOX LAYOUT MODEL
	 	CHILDREN'S PROPERTIES MAPPING
	========================================================================== */
	.sm-as-auto { align-self: auto; }
	.sm-as-stretch { align-self: stretch; }
	.sm-as-flex-start { align-self: flex-start; }
	.sm-as-flex-end { align-self: flex-end; }
	.sm-as-center { align-self: center; }
	.sm-as-baseline { align-self: baseline; }

	.sm-flex-grow-0 { flex-grow: 0; }
	.sm-flex-grow-1 { flex-grow: 1; }
	.sm-flex-grow-2 { flex-grow: 2; }
	.sm-flex-grow-3 { flex-grow: 3; }
	.sm-flex-grow-4 { flex-grow: 4; }
	.sm-flex-grow-5 { flex-grow: 5; }

	.sm-flex-shrink-0 { flex-shrink: 0; }
	.sm-flex-shrink-1 { flex-shrink: 1; }
	.sm-flex-shrink-2 { flex-shrink: 2; }
	.sm-flex-shrink-3 { flex-shrink: 3; }
	.sm-flex-shrink-4 { flex-shrink: 4; }
	.sm-flex-shrink-5 { flex-shrink: 5; }

	.sm-flex-b100 { flex-basis: 100%; }
	.sm-flex-b99 { flex-basis: 99%; }
	.sm-flex-b98 { flex-basis: 98%; }
	.sm-flex-b97 { flex-basis: 97%; }
	.sm-flex-b96 { flex-basis: 96%; }
	.sm-flex-b95 { flex-basis: 95%; }
	.sm-flex-b94 { flex-basis: 94%; }
	.sm-flex-b93 { flex-basis: 93%; }
	.sm-flex-b92 { flex-basis: 92%; }
	.sm-flex-b91 { flex-basis: 91%; }
	.sm-flex-b90 { flex-basis: 90%; }
	.sm-flex-b89 { flex-basis: 89%; }
	.sm-flex-b88 { flex-basis: 88%; }
	.sm-flex-b87 { flex-basis: 87%; }
	.sm-flex-b86 { flex-basis: 86%; }
	.sm-flex-b85 { flex-basis: 85%; }
	.sm-flex-b84 { flex-basis: 84%; }
	.sm-flex-b83 { flex-basis: 83%; }
	.sm-flex-b82 { flex-basis: 82%; }
	.sm-flex-b81 { flex-basis: 81%; }
	.sm-flex-b80 { flex-basis: 80%; }
	.sm-flex-b79 { flex-basis: 79%; }
	.sm-flex-b78 { flex-basis: 78%; }
	.sm-flex-b77 { flex-basis: 77%; }
	.sm-flex-b76 { flex-basis: 76%; }
	.sm-flex-b75 { flex-basis: 75%; }
	.sm-flex-b74 { flex-basis: 74%; }
	.sm-flex-b73 { flex-basis: 73%; }
	.sm-flex-b72 { flex-basis: 72%; }
	.sm-flex-b71 { flex-basis: 71%; }
	.sm-flex-b70 { flex-basis: 70%; }
	.sm-flex-b69 { flex-basis: 69%; }
	.sm-flex-b68 { flex-basis: 68%; }
	.sm-flex-b67 { flex-basis: 67%; }
	.sm-flex-b66 { flex-basis: 66%; }
	.sm-flex-b65 { flex-basis: 65%; }
	.sm-flex-b64 { flex-basis: 64%; }
	.sm-flex-b63 { flex-basis: 63%; }
	.sm-flex-b62 { flex-basis: 62%; }
	.sm-flex-b61 { flex-basis: 61%; }
	.sm-flex-b60 { flex-basis: 60%; }
	.sm-flex-b59 { flex-basis: 59%; }
	.sm-flex-b58 { flex-basis: 58%; }
	.sm-flex-b57 { flex-basis: 57%; }
	.sm-flex-b56 { flex-basis: 56%; }
	.sm-flex-b55 { flex-basis: 55%; }
	.sm-flex-b54 { flex-basis: 54%; }
	.sm-flex-b53 { flex-basis: 53%; }
	.sm-flex-b52 { flex-basis: 52%; }
	.sm-flex-b51 { flex-basis: 51%; }
	.sm-flex-b50 { flex-basis: 50%; }
	.sm-flex-b49 { flex-basis: 49%; }
	.sm-flex-b48 { flex-basis: 48%; }
	.sm-flex-b47 { flex-basis: 47%; }
	.sm-flex-b46 { flex-basis: 46%; }
	.sm-flex-b45 { flex-basis: 45%; }
	.sm-flex-b44 { flex-basis: 44%; }
	.sm-flex-b43 { flex-basis: 43%; }
	.sm-flex-b42 { flex-basis: 42%; }
	.sm-flex-b41 { flex-basis: 41%; }
	.sm-flex-b40 { flex-basis: 40%; }
	.sm-flex-b39 { flex-basis: 39%; }
	.sm-flex-b38 { flex-basis: 38%; }
	.sm-flex-b37 { flex-basis: 37%; }
	.sm-flex-b36 { flex-basis: 36%; }
	.sm-flex-b35 { flex-basis: 35%; }
	.sm-flex-b34 { flex-basis: 34%; }
	.sm-flex-b33 { flex-basis: 33%; }
	.sm-flex-b32 { flex-basis: 32%; }
	.sm-flex-b31 { flex-basis: 31%; }
	.sm-flex-b30 { flex-basis: 30%; }
	.sm-flex-b29 { flex-basis: 29%; }
	.sm-flex-b28 { flex-basis: 28%; }
	.sm-flex-b27 { flex-basis: 27%; }
	.sm-flex-b26 { flex-basis: 26%; }
	.sm-flex-b25 { flex-basis: 25%; }
	.sm-flex-b24 { flex-basis: 24%; }
	.sm-flex-b23 { flex-basis: 23%; }
	.sm-flex-b22 { flex-basis: 22%; }
	.sm-flex-b21 { flex-basis: 21%; }
	.sm-flex-b20 { flex-basis: 20%; }
	.sm-flex-b19 { flex-basis: 19%; }
	.sm-flex-b18 { flex-basis: 18%; }
	.sm-flex-b17 { flex-basis: 17%; }
	.sm-flex-b16 { flex-basis: 16%; }
	.sm-flex-b15 { flex-basis: 15%; }
	.sm-flex-b14 { flex-basis: 14%; }
	.sm-flex-b13 { flex-basis: 13%; }
	.sm-flex-b12 { flex-basis: 12%; }
	.sm-flex-b11 { flex-basis: 11%; }
	.sm-flex-b10 { flex-basis: 10%; }
	.sm-flex-b9 { flex-basis: 9%; }
	.sm-flex-b8 { flex-basis: 8%; }
	.sm-flex-b7 { flex-basis: 7%; }
	.sm-flex-b6 { flex-basis: 6%; }
	.sm-flex-b5 { flex-basis: 5%; }
	.sm-flex-b4 { flex-basis: 4%; }
	.sm-flex-b3 { flex-basis: 3%; }
	.sm-flex-b2 { flex-basis: 2%; }
	.sm-flex-b1 { flex-basis: 1%; }
	.sm-flex-b0 { flex-basis: 0%; }

	.sm-flex-none { flex: none; }
	.sm-flex-auto { flex: auto; }

	.sm-order--5 { order: -5; }
	.sm-order--4 { order: -4; }
	.sm-order--3 { order: -3; }
	.sm-order--2 { order: -2; }
	.sm-order--1 { order: -1; }
	.sm-order-0 { order: 0; }
	.sm-order-1 { order: 1; }
	.sm-order-2 { order: 2; }
	.sm-order-3 { order: 3; }
	.sm-order-4 { order: 4; }
	.sm-order-5 { order: 5; }
}
/* ==========================================================================
 md - medium devices >= 768px (48em)
 ========================================================================== */
@media screen and (min-width: 48em) {
	/* ==========================================================================
	 GRID SYSTEM BASED IN PERCENTAGES
	 ========================================================================== */
	.md-w100 { width: 100%; }
	.md-w99 { width: 99%; }
	.md-w98 { width: 98%; }
	.md-w97 { width: 97%; }
	.md-w96 { width: 96%; }
	.md-w95 { width: 95%; }
	.md-w94 { width: 94%; }
	.md-w93 { width: 93%; }
	.md-w92 { width: 92%; }
	.md-w91 { width: 91%; }
	.md-w90 { width: 90%; }
	.md-w89 { width: 89%; }
	.md-w88 { width: 88%; }
	.md-w87 { width: 87%; }
	.md-w86 { width: 86%; }
	.md-w85 { width: 85%; }
	.md-w84 { width: 84%; }
	.md-w83 { width: 83%; }
	.md-w82 { width: 82%; }
	.md-w81 { width: 81%; }
	.md-w80 { width: 80%; }
	.md-w79 { width: 79%; }
	.md-w78 { width: 78%; }
	.md-w77 { width: 77%; }
	.md-w76 { width: 76%; }
	.md-w75 { width: 75%; }
	.md-w74 { width: 74%; }
	.md-w73 { width: 73%; }
	.md-w72 { width: 72%; }
	.md-w71 { width: 71%; }
	.md-w70 { width: 70%; }
	.md-w69 { width: 69%; }
	.md-w68 { width: 68%; }
	.md-w67 { width: 67%; }
	.md-w66 { width: 66%; }
	.md-w65 { width: 65%; }
	.md-w64 { width: 64%; }
	.md-w63 { width: 63%; }
	.md-w62 { width: 62%; }
	.md-w61 { width: 61%; }
	.md-w60 { width: 60%; }
	.md-w59 { width: 59%; }
	.md-w58 { width: 58%; }
	.md-w57 { width: 57%; }
	.md-w56 { width: 56%; }
	.md-w55 { width: 55%; }
	.md-w54 { width: 54%; }
	.md-w53 { width: 53%; }
	.md-w52 { width: 52%; }
	.md-w51 { width: 51%; }
	.md-w50 { width: 50%; }
	.md-w49 { width: 49%; }
	.md-w48 { width: 48%; }
	.md-w47 { width: 47%; }
	.md-w46 { width: 46%; }
	.md-w45 { width: 45%; }
	.md-w44 { width: 44%; }
	.md-w43 { width: 43%; }
	.md-w42 { width: 42%; }
	.md-w41 { width: 41%; }
	.md-w40 { width: 40%; }
	.md-w39 { width: 39%; }
	.md-w38 { width: 38%; }
	.md-w37 { width: 37%; }
	.md-w36 { width: 36%; }
	.md-w35 { width: 35%; }
	.md-w34 { width: 34%; }
	.md-w33 { width: 33%; }
	.md-w32 { width: 32%; }
	.md-w31 { width: 31%; }
	.md-w30 { width: 30%; }
	.md-w29 { width: 29%; }
	.md-w28 { width: 28%; }
	.md-w27 { width: 27%; }
	.md-w26 { width: 26%; }
	.md-w25 { width: 25%; }
	.md-w24 { width: 24%; }
	.md-w23 { width: 23%; }
	.md-w22 { width: 22%; }
	.md-w21 { width: 21%; }
	.md-w20 { width: 20%; }
	.md-w19 { width: 19%; }
	.md-w18 { width: 18%; }
	.md-w17 { width: 17%; }
	.md-w16 { width: 16%; }
	.md-w15 { width: 15%; }
	.md-w14 { width: 14%; }
	.md-w13 { width: 13%; }
	.md-w12 { width: 12%; }
	.md-w11 { width: 11%; }
	.md-w10 { width: 10%; }
	.md-w9 { width: 9%; }
	.md-w8 { width: 8%; }
	.md-w7 { width: 7%; }
	.md-w6 { width: 6%; }
	.md-w5 { width: 5%; }
	.md-w4 { width: 4%; }
	.md-w3 { width: 3%; }
	.md-w2 { width: 2%; }
	.md-w1 { width: 1%; }
	.md-w0 { width: 0%; }
	/* ==========================================================================
	 FLEXBOX LAYOUT MODEL
	 	FLEX CONTAINER'S PROPERTIES MAPPING
	========================================================================== */
	.md-flex { display: flex; }
	.md-inline-flex { display: inline-flex; }

	.md-flex-row { flex-direction: row; }
	.md-flex-row-reverse { flex-direction: row-reverse; }
	.md-flex-column { flex-direction: column; }
	.md-flex-column-reverse { flex-direction: column-reverse; }

	.md-flex-nowrap { flex-wrap: nowrap; }
	.md-flex-wrap { flex-wrap: wrap; }
	.md-flex-wrap-reverse { flex-wrap: wrap-reverse; }

	.md-jc-flex-start { justify-content: flex-start; }
	.md-jc-flex-end { justify-content: flex-end; }
	.md-jc-center { justify-content: center; }
	.md-jc-space-between { justify-content: space-between; }
	.md-jc-space-around { justify-content: space-around; }

	.md-ai-stretch { align-items: stretch; }
	.md-ai-flex-start { align-items: flex-start; }
	.md-ai-flex-end { align-items: flex-end; }
	.md-ai-center { align-items: center; }
	.md-ai-baseline { align-items: baseline; }

	.md-ac-stretch { align-content: stretch; }
	.md-ac-flex-start { align-content: flex-start; }
	.md-ac-flex-end { align-content: flex-end; }
	.md-ac-center { align-content: center; }
	.md-ac-space-between { align-content: space-between; }
	.md-ac-space-around { align-content: space-around; }
	/* ==========================================================================
	 FLEXBOX LAYOUT MODEL
	 	CHILDREN'S PROPERTIES MAPPING
	========================================================================== */
	.md-as-auto { align-self: auto; }
	.md-as-stretch { align-self: stretch; }
	.md-as-flex-start { align-self: flex-start; }
	.md-as-flex-end { align-self: flex-end; }
	.md-as-center { align-self: center; }
	.md-as-baseline { align-self: baseline; }

	.md-flex-grow-0 { flex-grow: 0; }
	.md-flex-grow-1 { flex-grow: 1; }
	.md-flex-grow-2 { flex-grow: 2; }
	.md-flex-grow-3 { flex-grow: 3; }
	.md-flex-grow-4 { flex-grow: 4; }
	.md-flex-grow-5 { flex-grow: 5; }

	.md-flex-shrink-0 { flex-shrink: 0; }
	.md-flex-shrink-1 { flex-shrink: 1; }
	.md-flex-shrink-2 { flex-shrink: 2; }
	.md-flex-shrink-3 { flex-shrink: 3; }
	.md-flex-shrink-4 { flex-shrink: 4; }
	.md-flex-shrink-5 { flex-shrink: 5; }

	.md-flex-b100 { flex-basis: 100%; }
	.md-flex-b99 { flex-basis: 99%; }
	.md-flex-b98 { flex-basis: 98%; }
	.md-flex-b97 { flex-basis: 97%; }
	.md-flex-b96 { flex-basis: 96%; }
	.md-flex-b95 { flex-basis: 95%; }
	.md-flex-b94 { flex-basis: 94%; }
	.md-flex-b93 { flex-basis: 93%; }
	.md-flex-b92 { flex-basis: 92%; }
	.md-flex-b91 { flex-basis: 91%; }
	.md-flex-b90 { flex-basis: 90%; }
	.md-flex-b89 { flex-basis: 89%; }
	.md-flex-b88 { flex-basis: 88%; }
	.md-flex-b87 { flex-basis: 87%; }
	.md-flex-b86 { flex-basis: 86%; }
	.md-flex-b85 { flex-basis: 85%; }
	.md-flex-b84 { flex-basis: 84%; }
	.md-flex-b83 { flex-basis: 83%; }
	.md-flex-b82 { flex-basis: 82%; }
	.md-flex-b81 { flex-basis: 81%; }
	.md-flex-b80 { flex-basis: 80%; }
	.md-flex-b79 { flex-basis: 79%; }
	.md-flex-b78 { flex-basis: 78%; }
	.md-flex-b77 { flex-basis: 77%; }
	.md-flex-b76 { flex-basis: 76%; }
	.md-flex-b75 { flex-basis: 75%; }
	.md-flex-b74 { flex-basis: 74%; }
	.md-flex-b73 { flex-basis: 73%; }
	.md-flex-b72 { flex-basis: 72%; }
	.md-flex-b71 { flex-basis: 71%; }
	.md-flex-b70 { flex-basis: 70%; }
	.md-flex-b69 { flex-basis: 69%; }
	.md-flex-b68 { flex-basis: 68%; }
	.md-flex-b67 { flex-basis: 67%; }
	.md-flex-b66 { flex-basis: 66%; }
	.md-flex-b65 { flex-basis: 65%; }
	.md-flex-b64 { flex-basis: 64%; }
	.md-flex-b63 { flex-basis: 63%; }
	.md-flex-b62 { flex-basis: 62%; }
	.md-flex-b61 { flex-basis: 61%; }
	.md-flex-b60 { flex-basis: 60%; }
	.md-flex-b59 { flex-basis: 59%; }
	.md-flex-b58 { flex-basis: 58%; }
	.md-flex-b57 { flex-basis: 57%; }
	.md-flex-b56 { flex-basis: 56%; }
	.md-flex-b55 { flex-basis: 55%; }
	.md-flex-b54 { flex-basis: 54%; }
	.md-flex-b53 { flex-basis: 53%; }
	.md-flex-b52 { flex-basis: 52%; }
	.md-flex-b51 { flex-basis: 51%; }
	.md-flex-b50 { flex-basis: 50%; }
	.md-flex-b49 { flex-basis: 49%; }
	.md-flex-b48 { flex-basis: 48%; }
	.md-flex-b47 { flex-basis: 47%; }
	.md-flex-b46 { flex-basis: 46%; }
	.md-flex-b45 { flex-basis: 45%; }
	.md-flex-b44 { flex-basis: 44%; }
	.md-flex-b43 { flex-basis: 43%; }
	.md-flex-b42 { flex-basis: 42%; }
	.md-flex-b41 { flex-basis: 41%; }
	.md-flex-b40 { flex-basis: 40%; }
	.md-flex-b39 { flex-basis: 39%; }
	.md-flex-b38 { flex-basis: 38%; }
	.md-flex-b37 { flex-basis: 37%; }
	.md-flex-b36 { flex-basis: 36%; }
	.md-flex-b35 { flex-basis: 35%; }
	.md-flex-b34 { flex-basis: 34%; }
	.md-flex-b33 { flex-basis: 33%; }
	.md-flex-b32 { flex-basis: 32%; }
	.md-flex-b31 { flex-basis: 31%; }
	.md-flex-b30 { flex-basis: 30%; }
	.md-flex-b29 { flex-basis: 29%; }
	.md-flex-b28 { flex-basis: 28%; }
	.md-flex-b27 { flex-basis: 27%; }
	.md-flex-b26 { flex-basis: 26%; }
	.md-flex-b25 { flex-basis: 25%; }
	.md-flex-b24 { flex-basis: 24%; }
	.md-flex-b23 { flex-basis: 23%; }
	.md-flex-b22 { flex-basis: 22%; }
	.md-flex-b21 { flex-basis: 21%; }
	.md-flex-b20 { flex-basis: 20%; }
	.md-flex-b19 { flex-basis: 19%; }
	.md-flex-b18 { flex-basis: 18%; }
	.md-flex-b17 { flex-basis: 17%; }
	.md-flex-b16 { flex-basis: 16%; }
	.md-flex-b15 { flex-basis: 15%; }
	.md-flex-b14 { flex-basis: 14%; }
	.md-flex-b13 { flex-basis: 13%; }
	.md-flex-b12 { flex-basis: 12%; }
	.md-flex-b11 { flex-basis: 11%; }
	.md-flex-b10 { flex-basis: 10%; }
	.md-flex-b9 { flex-basis: 9%; }
	.md-flex-b8 { flex-basis: 8%; }
	.md-flex-b7 { flex-basis: 7%; }
	.md-flex-b6 { flex-basis: 6%; }
	.md-flex-b5 { flex-basis: 5%; }
	.md-flex-b4 { flex-basis: 4%; }
	.md-flex-b3 { flex-basis: 3%; }
	.md-flex-b2 { flex-basis: 2%; }
	.md-flex-b1 { flex-basis: 1%; }
	.md-flex-b0 { flex-basis: 0%; }

	.md-flex-none { flex: none; }
	.md-flex-auto { flex: auto; }

	.md-order--5 { order: -5; }
	.md-order--4 { order: -4; }
	.md-order--3 { order: -3; }
	.md-order--2 { order: -2; }
	.md-order--1 { order: -1; }
	.md-order-0 { order: 0; }
	.md-order-1 { order: 1; }
	.md-order-2 { order: 2; }
	.md-order-3 { order: 3; }
	.md-order-4 { order: 4; }
	.md-order-5 { order: 5; }
}
/* ==========================================================================
 lg  -  large devices >= 1024px (64em)
 ========================================================================== */
@media screen and (min-width: 64em) {
	/* ==========================================================================
	 GRID SYSTEM BASED IN PERCENTAGES
	 ========================================================================== */
	.lg-w100 { width: 100%; }
	.lg-w99 { width: 99%; }
	.lg-w98 { width: 98%; }
	.lg-w97 { width: 97%; }
	.lg-w96 { width: 96%; }
	.lg-w95 { width: 95%; }
	.lg-w94 { width: 94%; }
	.lg-w93 { width: 93%; }
	.lg-w92 { width: 92%; }
	.lg-w91 { width: 91%; }
	.lg-w90 { width: 90%; }
	.lg-w89 { width: 89%; }
	.lg-w88 { width: 88%; }
	.lg-w87 { width: 87%; }
	.lg-w86 { width: 86%; }
	.lg-w85 { width: 85%; }
	.lg-w84 { width: 84%; }
	.lg-w83 { width: 83%; }
	.lg-w82 { width: 82%; }
	.lg-w81 { width: 81%; }
	.lg-w80 { width: 80%; }
	.lg-w79 { width: 79%; }
	.lg-w78 { width: 78%; }
	.lg-w77 { width: 77%; }
	.lg-w76 { width: 76%; }
	.lg-w75 { width: 75%; }
	.lg-w74 { width: 74%; }
	.lg-w73 { width: 73%; }
	.lg-w72 { width: 72%; }
	.lg-w71 { width: 71%; }
	.lg-w70 { width: 70%; }
	.lg-w69 { width: 69%; }
	.lg-w68 { width: 68%; }
	.lg-w67 { width: 67%; }
	.lg-w66 { width: 66%; }
	.lg-w65 { width: 65%; }
	.lg-w64 { width: 64%; }
	.lg-w63 { width: 63%; }
	.lg-w62 { width: 62%; }
	.lg-w61 { width: 61%; }
	.lg-w60 { width: 60%; }
	.lg-w59 { width: 59%; }
	.lg-w58 { width: 58%; }
	.lg-w57 { width: 57%; }
	.lg-w56 { width: 56%; }
	.lg-w55 { width: 55%; }
	.lg-w54 { width: 54%; }
	.lg-w53 { width: 53%; }
	.lg-w52 { width: 52%; }
	.lg-w51 { width: 51%; }
	.lg-w50 { width: 50%; }
	.lg-w49 { width: 49%; }
	.lg-w48 { width: 48%; }
	.lg-w47 { width: 47%; }
	.lg-w46 { width: 46%; }
	.lg-w45 { width: 45%; }
	.lg-w44 { width: 44%; }
	.lg-w43 { width: 43%; }
	.lg-w42 { width: 42%; }
	.lg-w41 { width: 41%; }
	.lg-w40 { width: 40%; }
	.lg-w39 { width: 39%; }
	.lg-w38 { width: 38%; }
	.lg-w37 { width: 37%; }
	.lg-w36 { width: 36%; }
	.lg-w35 { width: 35%; }
	.lg-w34 { width: 34%; }
	.lg-w33 { width: 33%; }
	.lg-w32 { width: 32%; }
	.lg-w31 { width: 31%; }
	.lg-w30 { width: 30%; }
	.lg-w29 { width: 29%; }
	.lg-w28 { width: 28%; }
	.lg-w27 { width: 27%; }
	.lg-w26 { width: 26%; }
	.lg-w25 { width: 25%; }
	.lg-w24 { width: 24%; }
	.lg-w23 { width: 23%; }
	.lg-w22 { width: 22%; }
	.lg-w21 { width: 21%; }
	.lg-w20 { width: 20%; }
	.lg-w19 { width: 19%; }
	.lg-w18 { width: 18%; }
	.lg-w17 { width: 17%; }
	.lg-w16 { width: 16%; }
	.lg-w15 { width: 15%; }
	.lg-w14 { width: 14%; }
	.lg-w13 { width: 13%; }
	.lg-w12 { width: 12%; }
	.lg-w11 { width: 11%; }
	.lg-w10 { width: 10%; }
	.lg-w9 { width: 9%; }
	.lg-w8 { width: 8%; }
	.lg-w7 { width: 7%; }
	.lg-w6 { width: 6%; }
	.lg-w5 { width: 5%; }
	.lg-w4 { width: 4%; }
	.lg-w3 { width: 3%; }
	.lg-w2 { width: 2%; }
	.lg-w1 { width: 1%; }
	.lg-w0 { width: 0%; }
	/* ==========================================================================
	 FLEXBOX LAYOUT MODEL
	 	FLEX CONTAINER'S PROPERTIES MAPPING
	========================================================================== */
	.lg-flex { display: flex; }
	.lg-inline-flex { display: inline-flex; }

	.lg-flex-row { flex-direction: row; }
	.lg-flex-row-reverse { flex-direction: row-reverse; }
	.lg-flex-column { flex-direction: column; }
	.lg-flex-column-reverse { flex-direction: column-reverse; }

	.lg-flex-nowrap { flex-wrap: nowrap; }
	.lg-flex-wrap { flex-wrap: wrap; }
	.lg-flex-wrap-reverse { flex-wrap: wrap-reverse; }

	.lg-jc-flex-start { justify-content: flex-start; }
	.lg-jc-flex-end { justify-content: flex-end; }
	.lg-jc-center { justify-content: center; }
	.lg-jc-space-between { justify-content: space-between; }
	.lg-jc-space-around { justify-content: space-around; }

	.lg-ai-stretch { align-items: stretch; }
	.lg-ai-flex-start { align-items: flex-start; }
	.lg-ai-flex-end { align-items: flex-end; }
	.lg-ai-center { align-items: center; }
	.lg-ai-baseline { align-items: baseline; }

	.lg-ac-stretch { align-content: stretch; }
	.lg-ac-flex-start { align-content: flex-start; }
	.lg-ac-flex-end { align-content: flex-end; }
	.lg-ac-center { align-content: center; }
	.lg-ac-space-between { align-content: space-between; }
	.lg-ac-space-around { align-content: space-around; }
	/* ==========================================================================
	 FLEXBOX LAYOUT MODEL
	 	CHILDREN'S PROPERTIES MAPPING
	========================================================================== */
	.lg-as-auto { align-self: auto; }
	.lg-as-stretch { align-self: stretch; }
	.lg-as-flex-start { align-self: flex-start; }
	.lg-as-flex-end { align-self: flex-end; }
	.lg-as-center { align-self: center; }
	.lg-as-baseline { align-self: baseline; }

	.lg-flex-grow-0 { flex-grow: 0; }
	.lg-flex-grow-1 { flex-grow: 1; }
	.lg-flex-grow-2 { flex-grow: 2; }
	.lg-flex-grow-3 { flex-grow: 3; }
	.lg-flex-grow-4 { flex-grow: 4; }
	.lg-flex-grow-5 { flex-grow: 5; }

	.lg-flex-shrink-0 { flex-shrink: 0; }
	.lg-flex-shrink-1 { flex-shrink: 1; }
	.lg-flex-shrink-2 { flex-shrink: 2; }
	.lg-flex-shrink-3 { flex-shrink: 3; }
	.lg-flex-shrink-4 { flex-shrink: 4; }
	.lg-flex-shrink-5 { flex-shrink: 5; }

	.lg-flex-b100 { flex-basis: 100%; }
	.lg-flex-b99 { flex-basis: 99%; }
	.lg-flex-b98 { flex-basis: 98%; }
	.lg-flex-b97 { flex-basis: 97%; }
	.lg-flex-b96 { flex-basis: 96%; }
	.lg-flex-b95 { flex-basis: 95%; }
	.lg-flex-b94 { flex-basis: 94%; }
	.lg-flex-b93 { flex-basis: 93%; }
	.lg-flex-b92 { flex-basis: 92%; }
	.lg-flex-b91 { flex-basis: 91%; }
	.lg-flex-b90 { flex-basis: 90%; }
	.lg-flex-b89 { flex-basis: 89%; }
	.lg-flex-b88 { flex-basis: 88%; }
	.lg-flex-b87 { flex-basis: 87%; }
	.lg-flex-b86 { flex-basis: 86%; }
	.lg-flex-b85 { flex-basis: 85%; }
	.lg-flex-b84 { flex-basis: 84%; }
	.lg-flex-b83 { flex-basis: 83%; }
	.lg-flex-b82 { flex-basis: 82%; }
	.lg-flex-b81 { flex-basis: 81%; }
	.lg-flex-b80 { flex-basis: 80%; }
	.lg-flex-b79 { flex-basis: 79%; }
	.lg-flex-b78 { flex-basis: 78%; }
	.lg-flex-b77 { flex-basis: 77%; }
	.lg-flex-b76 { flex-basis: 76%; }
	.lg-flex-b75 { flex-basis: 75%; }
	.lg-flex-b74 { flex-basis: 74%; }
	.lg-flex-b73 { flex-basis: 73%; }
	.lg-flex-b72 { flex-basis: 72%; }
	.lg-flex-b71 { flex-basis: 71%; }
	.lg-flex-b70 { flex-basis: 70%; }
	.lg-flex-b69 { flex-basis: 69%; }
	.lg-flex-b68 { flex-basis: 68%; }
	.lg-flex-b67 { flex-basis: 67%; }
	.lg-flex-b66 { flex-basis: 66%; }
	.lg-flex-b65 { flex-basis: 65%; }
	.lg-flex-b64 { flex-basis: 64%; }
	.lg-flex-b63 { flex-basis: 63%; }
	.lg-flex-b62 { flex-basis: 62%; }
	.lg-flex-b61 { flex-basis: 61%; }
	.lg-flex-b60 { flex-basis: 60%; }
	.lg-flex-b59 { flex-basis: 59%; }
	.lg-flex-b58 { flex-basis: 58%; }
	.lg-flex-b57 { flex-basis: 57%; }
	.lg-flex-b56 { flex-basis: 56%; }
	.lg-flex-b55 { flex-basis: 55%; }
	.lg-flex-b54 { flex-basis: 54%; }
	.lg-flex-b53 { flex-basis: 53%; }
	.lg-flex-b52 { flex-basis: 52%; }
	.lg-flex-b51 { flex-basis: 51%; }
	.lg-flex-b50 { flex-basis: 50%; }
	.lg-flex-b49 { flex-basis: 49%; }
	.lg-flex-b48 { flex-basis: 48%; }
	.lg-flex-b47 { flex-basis: 47%; }
	.lg-flex-b46 { flex-basis: 46%; }
	.lg-flex-b45 { flex-basis: 45%; }
	.lg-flex-b44 { flex-basis: 44%; }
	.lg-flex-b43 { flex-basis: 43%; }
	.lg-flex-b42 { flex-basis: 42%; }
	.lg-flex-b41 { flex-basis: 41%; }
	.lg-flex-b40 { flex-basis: 40%; }
	.lg-flex-b39 { flex-basis: 39%; }
	.lg-flex-b38 { flex-basis: 38%; }
	.lg-flex-b37 { flex-basis: 37%; }
	.lg-flex-b36 { flex-basis: 36%; }
	.lg-flex-b35 { flex-basis: 35%; }
	.lg-flex-b34 { flex-basis: 34%; }
	.lg-flex-b33 { flex-basis: 33%; }
	.lg-flex-b32 { flex-basis: 32%; }
	.lg-flex-b31 { flex-basis: 31%; }
	.lg-flex-b30 { flex-basis: 30%; }
	.lg-flex-b29 { flex-basis: 29%; }
	.lg-flex-b28 { flex-basis: 28%; }
	.lg-flex-b27 { flex-basis: 27%; }
	.lg-flex-b26 { flex-basis: 26%; }
	.lg-flex-b25 { flex-basis: 25%; }
	.lg-flex-b24 { flex-basis: 24%; }
	.lg-flex-b23 { flex-basis: 23%; }
	.lg-flex-b22 { flex-basis: 22%; }
	.lg-flex-b21 { flex-basis: 21%; }
	.lg-flex-b20 { flex-basis: 20%; }
	.lg-flex-b19 { flex-basis: 19%; }
	.lg-flex-b18 { flex-basis: 18%; }
	.lg-flex-b17 { flex-basis: 17%; }
	.lg-flex-b16 { flex-basis: 16%; }
	.lg-flex-b15 { flex-basis: 15%; }
	.lg-flex-b14 { flex-basis: 14%; }
	.lg-flex-b13 { flex-basis: 13%; }
	.lg-flex-b12 { flex-basis: 12%; }
	.lg-flex-b11 { flex-basis: 11%; }
	.lg-flex-b10 { flex-basis: 10%; }
	.lg-flex-b9 { flex-basis: 9%; }
	.lg-flex-b8 { flex-basis: 8%; }
	.lg-flex-b7 { flex-basis: 7%; }
	.lg-flex-b6 { flex-basis: 6%; }
	.lg-flex-b5 { flex-basis: 5%; }
	.lg-flex-b4 { flex-basis: 4%; }
	.lg-flex-b3 { flex-basis: 3%; }
	.lg-flex-b2 { flex-basis: 2%; }
	.lg-flex-b1 { flex-basis: 1%; }
	.lg-flex-b0 { flex-basis: 0%; }

	.lg-flex-none { flex: none; }
	.lg-flex-auto { flex: auto; }

	.lg-order--5 { order: -5; }
	.lg-order--4 { order: -4; }
	.lg-order--3 { order: -3; }
	.lg-order--2 { order: -2; }
	.lg-order--1 { order: -1; }
	.lg-order-0 { order: 0; }
	.lg-order-1 { order: 1; }
	.lg-order-2 { order: 2; }
	.lg-order-3 { order: 3; }
	.lg-order-4 { order: 4; }
	.lg-order-5 { order: 5; }
}
/* ==========================================================================
 xl  -  extralarge devices >= 1200px (75em)
 ========================================================================== */
@media screen and (min-width: 75em) {
	/* ==========================================================================
	 GRID SYSTEM BASED IN PERCENTAGES
	 ========================================================================== */
	.xl-w100 { width: 100%; }
	.xl-w99 { width: 99%; }
	.xl-w98 { width: 98%; }
	.xl-w97 { width: 97%; }
	.xl-w96 { width: 96%; }
	.xl-w95 { width: 95%; }
	.xl-w94 { width: 94%; }
	.xl-w93 { width: 93%; }
	.xl-w92 { width: 92%; }
	.xl-w91 { width: 91%; }
	.xl-w90 { width: 90%; }
	.xl-w89 { width: 89%; }
	.xl-w88 { width: 88%; }
	.xl-w87 { width: 87%; }
	.xl-w86 { width: 86%; }
	.xl-w85 { width: 85%; }
	.xl-w84 { width: 84%; }
	.xl-w83 { width: 83%; }
	.xl-w82 { width: 82%; }
	.xl-w81 { width: 81%; }
	.xl-w80 { width: 80%; }
	.xl-w79 { width: 79%; }
	.xl-w78 { width: 78%; }
	.xl-w77 { width: 77%; }
	.xl-w76 { width: 76%; }
	.xl-w75 { width: 75%; }
	.xl-w74 { width: 74%; }
	.xl-w73 { width: 73%; }
	.xl-w72 { width: 72%; }
	.xl-w71 { width: 71%; }
	.xl-w70 { width: 70%; }
	.xl-w69 { width: 69%; }
	.xl-w68 { width: 68%; }
	.xl-w67 { width: 67%; }
	.xl-w66 { width: 66%; }
	.xl-w65 { width: 65%; }
	.xl-w64 { width: 64%; }
	.xl-w63 { width: 63%; }
	.xl-w62 { width: 62%; }
	.xl-w61 { width: 61%; }
	.xl-w60 { width: 60%; }
	.xl-w59 { width: 59%; }
	.xl-w58 { width: 58%; }
	.xl-w57 { width: 57%; }
	.xl-w56 { width: 56%; }
	.xl-w55 { width: 55%; }
	.xl-w54 { width: 54%; }
	.xl-w53 { width: 53%; }
	.xl-w52 { width: 52%; }
	.xl-w51 { width: 51%; }
	.xl-w50 { width: 50%; }
	.xl-w49 { width: 49%; }
	.xl-w48 { width: 48%; }
	.xl-w47 { width: 47%; }
	.xl-w46 { width: 46%; }
	.xl-w45 { width: 45%; }
	.xl-w44 { width: 44%; }
	.xl-w43 { width: 43%; }
	.xl-w42 { width: 42%; }
	.xl-w41 { width: 41%; }
	.xl-w40 { width: 40%; }
	.xl-w39 { width: 39%; }
	.xl-w38 { width: 38%; }
	.xl-w37 { width: 37%; }
	.xl-w36 { width: 36%; }
	.xl-w35 { width: 35%; }
	.xl-w34 { width: 34%; }
	.xl-w33 { width: 33%; }
	.xl-w32 { width: 32%; }
	.xl-w31 { width: 31%; }
	.xl-w30 { width: 30%; }
	.xl-w29 { width: 29%; }
	.xl-w28 { width: 28%; }
	.xl-w27 { width: 27%; }
	.xl-w26 { width: 26%; }
	.xl-w25 { width: 25%; }
	.xl-w24 { width: 24%; }
	.xl-w23 { width: 23%; }
	.xl-w22 { width: 22%; }
	.xl-w21 { width: 21%; }
	.xl-w20 { width: 20%; }
	.xl-w19 { width: 19%; }
	.xl-w18 { width: 18%; }
	.xl-w17 { width: 17%; }
	.xl-w16 { width: 16%; }
	.xl-w15 { width: 15%; }
	.xl-w14 { width: 14%; }
	.xl-w13 { width: 13%; }
	.xl-w12 { width: 12%; }
	.xl-w11 { width: 11%; }
	.xl-w10 { width: 10%; }
	.xl-w9 { width: 9%; }
	.xl-w8 { width: 8%; }
	.xl-w7 { width: 7%; }
	.xl-w6 { width: 6%; }
	.xl-w5 { width: 5%; }
	.xl-w4 { width: 4%; }
	.xl-w3 { width: 3%; }
	.xl-w2 { width: 2%; }
	.xl-w1 { width: 1%; }
	.xl-w0 { width: 0%; }
	/* ==========================================================================
	 FLEXBOX LAYOUT MODEL
	 	FLEX CONTAINER'S PROPERTIES MAPPING
	========================================================================== */
	.xl-flex { display: flex; }
	.xl-inline-flex { display: inline-flex; }

	.xl-flex-row { flex-direction: row; }
	.xl-flex-row-reverse { flex-direction: row-reverse; }
	.xl-flex-column { flex-direction: column; }
	.xl-flex-column-reverse { flex-direction: column-reverse; }

	.xl-flex-nowrap { flex-wrap: nowrap; }
	.xl-flex-wrap { flex-wrap: wrap; }
	.xl-flex-wrap-reverse { flex-wrap: wrap-reverse; }

	.xl-jc-flex-start { justify-content: flex-start; }
	.xl-jc-flex-end { justify-content: flex-end; }
	.xl-jc-center { justify-content: center; }
	.xl-jc-space-between { justify-content: space-between; }
	.xl-jc-space-around { justify-content: space-around; }

	.xl-ai-stretch { align-items: stretch; }
	.xl-ai-flex-start { align-items: flex-start; }
	.xl-ai-flex-end { align-items: flex-end; }
	.xl-ai-center { align-items: center; }
	.xl-ai-baseline { align-items: baseline; }

	.xl-ac-stretch { align-content: stretch; }
	.xl-ac-flex-start { align-content: flex-start; }
	.xl-ac-flex-end { align-content: flex-end; }
	.xl-ac-center { align-content: center; }
	.xl-ac-space-between { align-content: space-between; }
	.xl-ac-space-around { align-content: space-around; }
	/* ==========================================================================
	 FLEXBOX LAYOUT MODEL
	 	CHILDREN'S PROPERTIES MAPPING
	========================================================================== */
	.xl-as-auto { align-self: auto; }
	.xl-as-stretch { align-self: stretch; }
	.xl-as-flex-start { align-self: flex-start; }
	.xl-as-flex-end { align-self: flex-end; }
	.xl-as-center { align-self: center; }
	.xl-as-baseline { align-self: baseline; }

	.xl-flex-grow-0 { flex-grow: 0; }
	.xl-flex-grow-1 { flex-grow: 1; }
	.xl-flex-grow-2 { flex-grow: 2; }
	.xl-flex-grow-3 { flex-grow: 3; }
	.xl-flex-grow-4 { flex-grow: 4; }
	.xl-flex-grow-5 { flex-grow: 5; }

	.xl-flex-shrink-0 { flex-shrink: 0; }
	.xl-flex-shrink-1 { flex-shrink: 1; }
	.xl-flex-shrink-2 { flex-shrink: 2; }
	.xl-flex-shrink-3 { flex-shrink: 3; }
	.xl-flex-shrink-4 { flex-shrink: 4; }
	.xl-flex-shrink-5 { flex-shrink: 5; }

	.xl-flex-b100 { flex-basis: 100%; }
	.xl-flex-b99 { flex-basis: 99%; }
	.xl-flex-b98 { flex-basis: 98%; }
	.xl-flex-b97 { flex-basis: 97%; }
	.xl-flex-b96 { flex-basis: 96%; }
	.xl-flex-b95 { flex-basis: 95%; }
	.xl-flex-b94 { flex-basis: 94%; }
	.xl-flex-b93 { flex-basis: 93%; }
	.xl-flex-b92 { flex-basis: 92%; }
	.xl-flex-b91 { flex-basis: 91%; }
	.xl-flex-b90 { flex-basis: 90%; }
	.xl-flex-b89 { flex-basis: 89%; }
	.xl-flex-b88 { flex-basis: 88%; }
	.xl-flex-b87 { flex-basis: 87%; }
	.xl-flex-b86 { flex-basis: 86%; }
	.xl-flex-b85 { flex-basis: 85%; }
	.xl-flex-b84 { flex-basis: 84%; }
	.xl-flex-b83 { flex-basis: 83%; }
	.xl-flex-b82 { flex-basis: 82%; }
	.xl-flex-b81 { flex-basis: 81%; }
	.xl-flex-b80 { flex-basis: 80%; }
	.xl-flex-b79 { flex-basis: 79%; }
	.xl-flex-b78 { flex-basis: 78%; }
	.xl-flex-b77 { flex-basis: 77%; }
	.xl-flex-b76 { flex-basis: 76%; }
	.xl-flex-b75 { flex-basis: 75%; }
	.xl-flex-b74 { flex-basis: 74%; }
	.xl-flex-b73 { flex-basis: 73%; }
	.xl-flex-b72 { flex-basis: 72%; }
	.xl-flex-b71 { flex-basis: 71%; }
	.xl-flex-b70 { flex-basis: 70%; }
	.xl-flex-b69 { flex-basis: 69%; }
	.xl-flex-b68 { flex-basis: 68%; }
	.xl-flex-b67 { flex-basis: 67%; }
	.xl-flex-b66 { flex-basis: 66%; }
	.xl-flex-b65 { flex-basis: 65%; }
	.xl-flex-b64 { flex-basis: 64%; }
	.xl-flex-b63 { flex-basis: 63%; }
	.xl-flex-b62 { flex-basis: 62%; }
	.xl-flex-b61 { flex-basis: 61%; }
	.xl-flex-b60 { flex-basis: 60%; }
	.xl-flex-b59 { flex-basis: 59%; }
	.xl-flex-b58 { flex-basis: 58%; }
	.xl-flex-b57 { flex-basis: 57%; }
	.xl-flex-b56 { flex-basis: 56%; }
	.xl-flex-b55 { flex-basis: 55%; }
	.xl-flex-b54 { flex-basis: 54%; }
	.xl-flex-b53 { flex-basis: 53%; }
	.xl-flex-b52 { flex-basis: 52%; }
	.xl-flex-b51 { flex-basis: 51%; }
	.xl-flex-b50 { flex-basis: 50%; }
	.xl-flex-b49 { flex-basis: 49%; }
	.xl-flex-b48 { flex-basis: 48%; }
	.xl-flex-b47 { flex-basis: 47%; }
	.xl-flex-b46 { flex-basis: 46%; }
	.xl-flex-b45 { flex-basis: 45%; }
	.xl-flex-b44 { flex-basis: 44%; }
	.xl-flex-b43 { flex-basis: 43%; }
	.xl-flex-b42 { flex-basis: 42%; }
	.xl-flex-b41 { flex-basis: 41%; }
	.xl-flex-b40 { flex-basis: 40%; }
	.xl-flex-b39 { flex-basis: 39%; }
	.xl-flex-b38 { flex-basis: 38%; }
	.xl-flex-b37 { flex-basis: 37%; }
	.xl-flex-b36 { flex-basis: 36%; }
	.xl-flex-b35 { flex-basis: 35%; }
	.xl-flex-b34 { flex-basis: 34%; }
	.xl-flex-b33 { flex-basis: 33%; }
	.xl-flex-b32 { flex-basis: 32%; }
	.xl-flex-b31 { flex-basis: 31%; }
	.xl-flex-b30 { flex-basis: 30%; }
	.xl-flex-b29 { flex-basis: 29%; }
	.xl-flex-b28 { flex-basis: 28%; }
	.xl-flex-b27 { flex-basis: 27%; }
	.xl-flex-b26 { flex-basis: 26%; }
	.xl-flex-b25 { flex-basis: 25%; }
	.xl-flex-b24 { flex-basis: 24%; }
	.xl-flex-b23 { flex-basis: 23%; }
	.xl-flex-b22 { flex-basis: 22%; }
	.xl-flex-b21 { flex-basis: 21%; }
	.xl-flex-b20 { flex-basis: 20%; }
	.xl-flex-b19 { flex-basis: 19%; }
	.xl-flex-b18 { flex-basis: 18%; }
	.xl-flex-b17 { flex-basis: 17%; }
	.xl-flex-b16 { flex-basis: 16%; }
	.xl-flex-b15 { flex-basis: 15%; }
	.xl-flex-b14 { flex-basis: 14%; }
	.xl-flex-b13 { flex-basis: 13%; }
	.xl-flex-b12 { flex-basis: 12%; }
	.xl-flex-b11 { flex-basis: 11%; }
	.xl-flex-b10 { flex-basis: 10%; }
	.xl-flex-b9 { flex-basis: 9%; }
	.xl-flex-b8 { flex-basis: 8%; }
	.xl-flex-b7 { flex-basis: 7%; }
	.xl-flex-b6 { flex-basis: 6%; }
	.xl-flex-b5 { flex-basis: 5%; }
	.xl-flex-b4 { flex-basis: 4%; }
	.xl-flex-b3 { flex-basis: 3%; }
	.xl-flex-b2 { flex-basis: 2%; }
	.xl-flex-b1 { flex-basis: 1%; }
	.xl-flex-b0 { flex-basis: 0%; }

	.xl-flex-none { flex: none; }
	.xl-flex-auto { flex: auto; }

	.xl-order--5 { order: -5; }
	.xl-order--4 { order: -4; }
	.xl-order--3 { order: -3; }
	.xl-order--2 { order: -2; }
	.xl-order--1 { order: -1; }
	.xl-order-0 { order: 0; }
	.xl-order-1 { order: 1; }
	.xl-order-2 { order: 2; }
	.xl-order-3 { order: 3; }
	.xl-order-4 { order: 4; }
	.xl-order-5 { order: 5; }
}


/* position */
.toast-center-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-left {
  top: 12px;
  left: 12px;
}
.toast-top-right {
  top: 12px;
  right: 12px;
}
.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}
.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}

/* toast styles */
.toast-title {
  font-weight: bold;
}
.toast-message {
  word-wrap: break-word;
}
.toast-message a,
.toast-message label {
  color: #FFFFFF;
}
.toast-message a:hover {
  color: #CCCCCC;
  text-decoration: none;
}
.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  text-shadow: 0 1px 0 #ffffff;
  /* opacity: 0.8; */
}
.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
}
/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.toast-container {
  pointer-events: none;
  position: fixed;
  z-index: 999999;
}
.toast-container * {
  box-sizing: border-box;
}
.toast-container .ngx-toastr {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 24px;
  box-shadow: 0 0 12px #999999;
  color: #FFFFFF;
}
.toast-container .ngx-toastr:hover {
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  cursor: pointer;
}
.toast-info {
  background-image: url("../assets/icon/info.svg");
}
.toast-error {
  background-image: url("../assets/icon/error.svg");
}
.toast-success {
  background-image: url("../assets/icon/succes.svg");
}
.toast-warning {
  background-image: url("../assets/icon/warning.svg");
}
.toast-container.toast-top-center .ngx-toastr,
.toast-container.toast-bottom-center .ngx-toastr {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.toast-container.toast-top-full-width .ngx-toastr,
.toast-container.toast-bottom-full-width .ngx-toastr {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}
.ngx-toastr {
  background-color: #030303;
  pointer-events: auto;
}
.toast-success {
  background-color: #51A351;
}
.toast-error {
  background-color: #BD362F;
}
.toast-info {
  background-color: #2F96B4;
}
.toast-warning {
  background-color: #F89406;
}
.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000000;
  opacity: 0.4;
}
/* Responsive Design */
@media all and (max-width: 240px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }
  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 241px) and (max-width: 480px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }
  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 481px) and (max-width: 768px) {
  .toast-container .ngx-toastr.div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }
}