<div>
  <div class="content-img-back"></div>
  <div class="content-form">
    <div class="content-center">
      <div class="content-logo">
        <img src="/assets/logo.jpg" alt="">
      </div>
      <form [formGroup]="formLogin" (ngSubmit)="enviar()">
        <div class="example-container">
          <mat-form-field class="content-input" appearance="fill">
            <mat-label>Ingresa tu email</mat-label>
            <input matInput placeholder="pat@example.com" formControlName="email" required>
            <div *ngIf="formLogin.get('email')!.invalid && (formLogin.get('email')?.dirty || formLogin.get('email')?.touched)">
              <mat-error *ngIf="formLogin.get('email')?.errors?.required">Este campo es requerido.</mat-error>
              <mat-error *ngIf="formLogin.get('email')?.errors?.email">No es el formato correcto.</mat-error>
            </div>
          </mat-form-field>
          <mat-form-field class="content-input" appearance="fill">
            <mat-label>Ingresa tu password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
            <span mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </span>
            <div *ngIf="formLogin.get('password')!.invalid && (formLogin.get('password')?.dirty || formLogin.get('password')?.touched)">
              <mat-error *ngIf="formLogin.get('password')?.errors?.required">Este campo es requerido.</mat-error>
            </div>
          </mat-form-field>
        </div>
        <div class="example-button-row">
          <button mat-raised-button color="primary" [disabled]="!formLogin.valid">Ingresar</button>
        </div>
      </form>
    </div>
  </div>
</div>
