.content-img-back{
  position: relative;
  float: left;
  width: 60%;
  background: url(../../../../assets/back.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.content-form{
  position: relative;
  float: left;
  width: 40%;
  display: table;
  height: 100vh;
}

.content-center{
  display: table-cell;
  vertical-align: middle;
}

.content-logo{
  position: relative;
  text-align: center;
  img{
    position: relative;
    width: 34%;
  }
}

form{
  position: relative;
  float: left;
  width: 100%;
  .example-container{
    padding: 21px 41px;
  }
}

.content-input{
  width: 100%;
  margin-bottom: 15px;
}

.example-button-row{
  text-align: center;
  button{
    font-size: 16px;
  }
}