<div class="content-welcome">
  <div class="content-img">
    <img src="../../../assets/arrow.gif" alt="">
  </div>
  <h4>Bienvenidos al sistema de credito</h4>
  <p>Es un sistema que consiste en otorgar créditos a grupos de clientes. No se
    entregan créditos a clientes individuales, solo a grupos de ellos. </p>
</div>
