.content-welcome{
  position: relative;
  float: left;
  width: 100%;
  padding: 10% 80px;
  h4{
    font-size: 25px;
    font-weight: bold;
    color: #001712;
    margin-bottom: 60px;
  }
  p{
    font-size: 18px;
    font-weight: bold;
    color: #001712;
    text-align: center;
  }
}

.content-img{
  position: absolute;
  top: -30px;
  transform: rotate(169deg);
  left: 63px;
  z-index: 11;
  img{
    width: 62px;
  }
}