<h2 mat-dialog-title>{{ nameModal }}</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="formAccount">
    <mat-form-field class="example-full-width">
      <mat-label>id</mat-label>
      <input matInput placeholder="" formControlName="id" maxlength="5" required>
      <div *ngIf="formAccount.get('id')!.invalid && (formAccount.get('id')?.dirty || formAccount.get('id')?.touched)">
        <mat-error *ngIf="formAccount.get('id')?.errors?.required"> Este campo es requerido. </mat-error>
        <mat-error *ngIf="formAccount.get('id')?.errors?.pattern"> Formato 5 digitos solo numeros </mat-error>
      </div>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>monto</mat-label>
      <input matInput placeholder="" formControlName="monto" maxlength="10" required>
      <div *ngIf="formAccount.get('monto')!.invalid && (formAccount.get('monto')?.dirty || formAccount.get('monto')?.touched)">
        <mat-error *ngIf="formAccount.get('monto')?.errors?.required"> Este campo es requerido. </mat-error>
        <mat-error *ngIf="formAccount.get('monto')?.errors?.pattern"> Formato solo numeros </mat-error>
      </div>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button  mat-raised-button color="primary" type="submit" [disabled]="!formAccount.valid" (click)="addAccount()">Guardar</button>
</mat-dialog-actions>
