.mat-form-field {
  width: 100%;
  font-size: 18px;
}

th, td{
  width: 33.333%;
  text-align: center;
  border: none;
}

.mat-dialog-content{
  padding: 17px 430px;
  padding-left: 45px;
}

.content-table-account{
  width: 190%;
  position: relative;
  float: left;
}