<h2 mat-dialog-title>{{ nameModal }}</h2>
<mat-dialog-content class="mat-typography">
  <div class="content-list">
    <div class="content-table-account">
      <mat-table [dataSource]="caldendar" class="mat-elevation-z8">
      
        <!-- id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> id. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <!-- cuenta Column -->
        <ng-container matColumnDef="cuenta">
          <th mat-header-cell *matHeaderCellDef> cuenta </th>
          <td mat-cell *matCellDef="let element"> {{element.cuenta}} </td>
        </ng-container>

        <!-- num_pago Column -->
        <ng-container matColumnDef="num_pago">
          <th mat-header-cell *matHeaderCellDef> num_pago </th>
          <td mat-cell *matCellDef="let element"> {{element.num_pago}} </td>
        </ng-container>

        <!-- monto Column -->
        <ng-container matColumnDef="monto">
          <th mat-header-cell *matHeaderCellDef> monto </th>
          <td mat-cell *matCellDef="let element">$ {{element.monto}} </td>
        </ng-container>

        <!-- fecha_pago Column -->
        <ng-container matColumnDef="fecha_pago">
          <th mat-header-cell *matHeaderCellDef> fecha_pago </th>
          <td mat-cell *matCellDef="let element"> {{element.fecha_pago}} </td>
        </ng-container>

        <!-- estatus Column -->
        <ng-container matColumnDef="estatus">
          <th mat-header-cell *matHeaderCellDef> estatus </th>
          <td mat-cell *matCellDef="let element"> {{element.estatus}} </td>
        </ng-container>
  
        <!-- editar Column -->
        <ng-container matColumnDef="transacciones">
          <th mat-header-cell *matHeaderCellDef> transacciones </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon aria-hidden="false" aria-label="payment" (click)="payAccount(element)">payment</mat-icon>
          </td>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="displayCalendar"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayCalendar"></mat-row>
      </mat-table>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button  mat-raised-button color="primary" type="submit" (click)="closeModal()">Cerrar</button>
</mat-dialog-actions>

