.example-container {
  width: 100%;
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-image: url("../../../../assets/back.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 40%;
  background-color: #808080a6;
}

.example-sidenav-content {
  height: 100%;
}

.example-sidenav {
  padding: 20px;
  box-shadow: 1px 1px 8px -3px;
  img{
    margin-bottom: 25px;
    cursor: pointer;
  }
  h4{
    position: relative;
    float: left;
    text-align: left;
    padding: 4px 0px;
  }
  small{
    position: absolute;
    bottom: 23px;
    width: 100%;
    left: 0;
    color: #001712;
  }
}

.content-seccion{
  position: relative;
  float: left;
  width: 100%;
  cursor: pointer;
}

.content-seccion:hover h4,
.content-seccion:hover mat-icon{
  color: #b0c336;
}

.content-menu{
  position: fixed;
  float: left;
  width: 100%;
  background: #ffffff;
  padding: 9px 5px;
  color: #011812;
  box-shadow: 0px 1px 4px 0px;
  z-index: 10;
  button{
    position: relative;
    float: left;
  }
  span{
    position: relative;
    float: left;
    width: calc(100% - 130px);
    text-align: center;
    padding: 10px 0px;
    font-weight: bold;
    font-size: 20px;
  }
}

.mat-drawer-inner-container {
  overflow: hidden;
}

.icon-user{
  position: absolute;
  right: 10px;
  top: 15px;
  width: 15%;
}

.loginOut{
  position: absolute;
  top: -17px;
  right: 0px;
  padding: 12px 5px;
  width: 44px;
  text-align: center;
  background: #001712;
  color: white;
  cursor: pointer;
  mat-icon{
    font-size: 30px;
  }
}

.loginOut:hover{
  background: #001712ad;
}

.content-page{
  position: relative;
  float: left;
  width: 100%;
  margin-top: 57px;
}