<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <img src="https://podemos.mx/images/pasted-svg-182292x56.svg?crc=4049379152" alt="" (click)="shoWelcome()">
    <div class="content-seccion" (click)="showClient()">
      <h4>Clientes</h4>
      <mat-icon aria-hidden="false" aria-label="arrow_right_al" style="float: right;">arrow_right_al</mat-icon>
    </div>
    <div class="content-seccion" (click)="showGroup()">
      <h4>Grupos</h4>
      <mat-icon aria-hidden="false" aria-label="arrow_right_al" style="float: right;">arrow_right_al</mat-icon>
    </div>
    <div class="content-seccion" (click)="showAccounts()">
      <h4>Cuentas</h4>
      <mat-icon aria-hidden="false" aria-label="arrow_right_al" style="float: right;">arrow_right_al</mat-icon>
    </div>
    <small>Create by: Abraham Uriel Zavala García</small> 
  </mat-drawer>

  <div class="example-sidenav-content">
    <div class="content-menu">
      <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon aria-hidden="false" aria-label="menu">menu</mat-icon>
      </button>
      <span>Sistema de creditos</span>
      <div class="icon-user">
        <mat-icon aria-hidden="false" aria-label="people" style="float: left;">people</mat-icon>
        <p>User: <strong>Abraham Uriel Zavala</strong></p>
        <div class="loginOut" (click)="logOut()">
          <mat-icon aria-hidden="false" aria-label="exit_to_app">exit_to_app</mat-icon>
        </div>
      </div>
    </div>

    <div class="content-page">
      <app-welcome *ngIf="welcome"></app-welcome>
      <app-client *ngIf="client"></app-client>
      <app-grups *ngIf="grups"></app-grups>
      <app-accounts *ngIf="account"></app-accounts>
    </div>
    
  </div>

</mat-drawer-container>
