<h2 mat-dialog-title>{{ nameModal }}</h2>
<mat-dialog-content class="mat-typography">
  <section class="example-section">
    <mat-checkbox class="example-margin" *ngFor="let item of allClient"
    [value]="item.id" 
    [checked]="selectedCheck.includes(item?.id)"
    (change)="selectedCheck.indexOf(item?.id)>-1 ? selectedCheck.splice(selectedCheck.indexOf(item?.id),1) : selectedCheck.push(item?.id)">{{ item.nombre }}</mat-checkbox>
  </section>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button  mat-raised-button color="primary" type="submit" (click)="addClient()">Guardar</button>
</mat-dialog-actions>
