table {
  width: 100%;
}

th, td{
  width: 33.333%;
  text-align: center;
  border: none;
}

.content-list{
  position: relative;
  float: left;
  width: calc(50% - 100px);
  margin-top: 28px;
  background: white;
  border-radius: 10px;
  padding: 34px 20px;
  box-shadow: 1px 2px 6px 0px;
  margin: 33px 30px;
}

.add-group{
  float: right;
  position: relative;
}

.add-person{
  float: right;
  right: 21px;
  position: relative;
}

.add-account{
  float: right;
  right: 5px;
  position: relative;
  top: 13px;
}

.list-text-cuentas{
  position: relative;
  margin-bottom: 45px;
  float: left;
}

.opt-table{
  padding: 0px 10px;
}

.content-table-account{
  position: relative;
  float: left;
  width: 100%;
}

.iconActive{
  padding: 0px 10px;
}