<div class="content-system">
  <div class="content-head">
    <h4>Grupos</h4>
    <div class="add-group">
      <button mat-fab color="primary" aria-label="group_add" (click)="createGroup()">
        <mat-icon>group_add</mat-icon>
      </button>
    </div>
  </div>
  

  <div class="content-table">
    <mat-table [dataSource]="dataGroups" class="mat-elevation-z8">
    
      <!-- id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> id. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
    
      <!-- nombre Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>

      <!-- editar Column -->
      <ng-container matColumnDef="opciones">
        <th mat-header-cell *matHeaderCellDef> opciones </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="opt-table" aria-hidden="false" aria-label="edit" (click)="editGroup(element)">edit</mat-icon>
          <mat-icon class="opt-table"  aria-hidden="false" aria-label="timeline" (click)="detailGroup(element)">timeline</mat-icon>
        </td>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumnsGrups"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumnsGrups"></mat-row>
    </mat-table>

    <div class="content-list" *ngIf="showList">
      <span>Listado de <strong>miembros</strong> del grupo <strong>{{ selectedAccount }}</strong></span>
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let miembro of listClient">{{ miembro.nombre }}</mat-list-item>
      </mat-list>
      <div class="add-person">
        <button mat-fab color="primary" aria-label="person_add" (click)="addClient()">
          <mat-icon>person_add</mat-icon>
        </button>
      </div>
    </div>

    <div class="content-list" *ngIf="showList">
      <span class="list-text-cuentas" style="margin-bottom: 30px;">Listado de <strong>cuentas</strong> del grupo <strong>{{ selectedAccount }}</strong></span>
      <div class="content-table-account">
        <mat-table [dataSource]="account" class="mat-elevation-z8">
        
          <!-- id Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> id. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
        
          <!-- grupo Column -->
          <ng-container matColumnDef="grupo">
            <th mat-header-cell *matHeaderCellDef> grupo </th>
            <td mat-cell *matCellDef="let element"> {{element.grupo}} </td>
          </ng-container>

          <!-- estatus Column -->
          <ng-container matColumnDef="estatus">
            <th mat-header-cell *matHeaderCellDef> estatus </th>
            <td mat-cell *matCellDef="let element"> {{element.estatus}} </td>
          </ng-container>

          <!-- monto Column -->
          <ng-container matColumnDef="monto">
            <th mat-header-cell *matHeaderCellDef> monto </th>
            <td mat-cell *matCellDef="let element">$ {{element.monto}} </td>
          </ng-container>

          <!-- saldo Column -->
          <ng-container matColumnDef="saldo">
            <th mat-header-cell *matHeaderCellDef> saldo </th>
            <td mat-cell *matCellDef="let element">$ {{element.saldo}} </td>
          </ng-container>
    
          <!-- editar Column -->
          <ng-container matColumnDef="opciones">
            <th mat-header-cell *matHeaderCellDef> opciones </th>
            <td mat-cell *matCellDef="let element">
              <mat-icon aria-hidden="false" aria-label="calendar_today" (click)="calendarAccount(element)">calendar_today</mat-icon>
            </td>
          </ng-container>
    
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
      </div>
      <div class="add-account">
        <button mat-fab color="primary" aria-label="account_balance_wallet" (click)="addAccount()">
          <mat-icon>account_balance_wallet</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
