<h2 mat-dialog-title>{{ nameModal }}</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="formUser">
    <mat-form-field class="example-full-width">
      <mat-label>id</mat-label>
      <input matInput placeholder="" formControlName="id" maxlength="7" required>
      <div *ngIf="formUser.get('id')!.invalid && (formUser.get('id')?.dirty || formUser.get('id')?.touched)">
        <mat-error *ngIf="formUser.get('id')?.errors?.required"> Este campo es requerido. </mat-error>
        <mat-error *ngIf="formUser.get('id')?.errors?.pattern"> Formato 7 digitos solo numeros y letras </mat-error>
      </div>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>nombre</mat-label>
      <input matInput placeholder="" formControlName="nombre" maxlength="40" required>
      <div *ngIf="formUser.get('nombre')!.invalid && (formUser.get('nombre')?.dirty || formUser.get('nombre')?.touched)">
        <mat-error *ngIf="formUser.get('nombre')?.errors?.required"> Este campo es requerido. </mat-error>
        <mat-error *ngIf="formUser.get('nombre')?.errors?.pattern"> Formato solo letras </mat-error>
      </div>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button  mat-raised-button color="primary" type="submit" (click)="enviarUser()" [disabled]="!formUser.valid">{{ data ? 'Editar' : 'Guardar' }}</button>
</mat-dialog-actions>
