
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$system-credit-primary: mat-palette($mat-indigo);
$system-credit-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$system-credit-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$system-credit-theme: mat-light-theme((
  color: (
    primary: $system-credit-primary,
    accent: $system-credit-accent,
    warn: $system-credit-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($system-credit-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #f5f5f55c;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #f5f5f54e;
}

::-webkit-scrollbar-thumb {
  background-color: #b0c336;
  border-radius: 4px;
}

mat-error{
  font-size: 12px !important;
  float: right;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgb(255 255 255 / 4%) !important;
}

.mat-form-field-appearance-fill .mat-form-field-infix {
  font-size: 15px !important;
}

.mat-drawer-inner-container{
  text-align: center;
}

.mat-drawer-inner-container, .mat-drawer-content {
  overflow-x: hidden !important;
}

.content-system{
  position: relative;
  float: left;
  width: 100%;
  padding: 20px 40px;
  h4{
    font-size: 22px;
    font-weight: bold;
    color: #001712;
  }
}

.content-table{
  position: relative;
  float: left;
  width: 94%;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  border-bottom-style: none !important;
  text-align: center !important;
}

.mat-row{
  cursor: pointer;
}

.mat-row:hover{
  background: #b0c336;
  td{
    color: white;
  }
}

.content-head{
  position: relative;
  float: left;
  width: 94%;
  padding: 18px 0px;
  padding-top: 0;
  h4{
    position: relative;
    float: left;
    margin-bottom: 0px;
    top: 16px;
  }
  .example-button-container{
    position: relative;
    float: right;
  }
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  background-color: #b0c336;
}

.desactive{
  pointer-events: none !important;
}

th, td{
  font-size: 14px;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #b0c336;
}