<div class="content-system">
  <div class="content-head" style="margin-bottom: 25px;">
    <h4>Cuentas</h4>
  </div>
  

  <div class="content-table">
    <mat-table [dataSource]="dataAccount" class="mat-elevation-z8">
    
      <!-- id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> id. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
    
      <!-- grupo Column -->
      <ng-container matColumnDef="grupo">
        <th mat-header-cell *matHeaderCellDef> grupo </th>
        <td mat-cell *matCellDef="let element"> {{element.grupo}} </td>
      </ng-container>

      <!-- estatus Column -->
      <ng-container matColumnDef="estatus">
        <th mat-header-cell *matHeaderCellDef> estatus </th>
        <td mat-cell *matCellDef="let element"> {{element.estatus}} </td>
      </ng-container>

      <!-- monto Column -->
      <ng-container matColumnDef="monto">
        <th mat-header-cell *matHeaderCellDef> monto </th>
        <td mat-cell *matCellDef="let element">$ {{element.monto}} </td>
      </ng-container>

      <!-- saldo Column -->
      <ng-container matColumnDef="saldo">
        <th mat-header-cell *matHeaderCellDef> saldo </th>
        <td mat-cell *matCellDef="let element">$ {{element.saldo}} </td>
      </ng-container>

      <!-- editar Column -->
      <ng-container matColumnDef="opciones">
        <th mat-header-cell *matHeaderCellDef> opciones </th>
        <td mat-cell *matCellDef="let element" (click)="showDetails(element)">
          <mat-icon aria-hidden="false" aria-label="timeline">timeline</mat-icon>
        </td>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>

  <div class="content-list" *ngIf="showcaldendar">
    <span class="list-text-cuentas" style="margin-bottom: 30px;">Calendario de pagos del grupo <strong>{{ selectedGrup }}</strong></span>
    <div class="content-table-account">
      <mat-table [dataSource]="caldendar" class="mat-elevation-z8">
      
        <!-- id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> id. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <!-- cuenta Column -->
        <ng-container matColumnDef="cuenta">
          <th mat-header-cell *matHeaderCellDef> cuenta </th>
          <td mat-cell *matCellDef="let element"> {{element.cuenta}} </td>
        </ng-container>

        <!-- num_pago Column -->
        <ng-container matColumnDef="num_pago">
          <th mat-header-cell *matHeaderCellDef> num_pago </th>
          <td mat-cell *matCellDef="let element"> {{element.num_pago}} </td>
        </ng-container>

        <!-- monto Column -->
        <ng-container matColumnDef="monto">
          <th mat-header-cell *matHeaderCellDef> monto </th>
          <td mat-cell *matCellDef="let element">$ {{element.monto}} </td>
        </ng-container>

        <!-- fecha_pago Column -->
        <ng-container matColumnDef="fecha_pago">
          <th mat-header-cell *matHeaderCellDef> fecha_pago </th>
          <td mat-cell *matCellDef="let element"> {{element.fecha_pago}} </td>
        </ng-container>

        <!-- estatus Column -->
        <ng-container matColumnDef="estatus">
          <th mat-header-cell *matHeaderCellDef> estatus </th>
          <td mat-cell *matCellDef="let element"> {{element.estatus}} </td>
        </ng-container>
  
        <!-- editar Column -->
        <ng-container matColumnDef="transacciones">
          <th mat-header-cell *matHeaderCellDef> transacciones </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon class="iconActive" aria-hidden="false" aria-label="timeline" (click)="detailsTrasaction(element)">timeline</mat-icon>
            <mat-icon class="iconActive" aria-hidden="false" aria-label="payment" (click)="payAccount(element)">payment</mat-icon>
          </td>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="displayCalendar"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayCalendar"></mat-row>
      </mat-table>
    </div>
  </div>

  <div class="content-list-transaction" *ngIf="showTransaction">
    <span class="list-text-transaction" style="margin-bottom: 30px;">Transacciones de la cuenta <strong>{{ selectedAccount }}</strong></span>
    <div class="content-table-account">
      <mat-table [dataSource]="trasaction" class="mat-elevation-z8">
      
        <!-- id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> id. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <!-- cuenta Column -->
        <ng-container matColumnDef="cuenta">
          <th mat-header-cell *matHeaderCellDef> cuenta </th>
          <td mat-cell *matCellDef="let element"> {{element.cuenta}} </td>
        </ng-container>

        <!-- fecha Column -->
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef> fecha </th>
          <td mat-cell *matCellDef="let element"> {{element.fecha | date:'medium' }} </td>
        </ng-container>

        <!-- monto Column -->
        <ng-container matColumnDef="monto">
          <th mat-header-cell *matHeaderCellDef> monto </th>
          <td mat-cell *matCellDef="let element">$ {{element.monto}} </td>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="displayTransaction"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayTransaction"></mat-row>
      </mat-table>
    </div>
  </div>
</div>
