table {
  width: 100%;
}

.content-list-transaction th, 
.content-list-transaction td{
  width: 25% !important;
  text-align: center;
  border: none;
}

th, td{
  width: 16.66666%;
  text-align: center;
  border: none;
}

.content-list,
.content-list-transaction{
  position: relative;
  float: left;
  width: calc(50% - 100px);
  margin-top: 28px;
  background: white;
  border-radius: 10px;
  padding: 34px 20px;
  box-shadow: 1px 2px 6px 0px;
  margin: 33px 5px;
}

.list-text-cuentas,
.list-text-transaction{
  position: relative;
  margin-bottom: 45px;
  float: left;
}

.content-table-account{
  position: relative;
  float: left;
  width: 100%;
}

.iconActive{
  padding: 0px 10px;
}