<h2 mat-dialog-title>{{ nameModal }}</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="formPayment">
    <mat-form-field class="example-full-width">
      <mat-label>monto</mat-label>
      <input matInput placeholder="" formControlName="monto" maxlength="10" required>
      <div *ngIf="formPayment.get('monto')!.invalid && (formPayment.get('monto')?.dirty || formPayment.get('monto')?.touched)">
        <mat-error *ngIf="formPayment.get('monto')?.errors?.required"> Este campo es requerido. </mat-error>
        <mat-error *ngIf="formPayment.get('monto')?.errors?.pattern"> Formato solo numeros </mat-error>
      </div>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button  mat-raised-button color="primary" type="submit" [disabled]="!formPayment.valid" (click)="addPayment()">Guardar</button>
</mat-dialog-actions>